<!DOCTYPE HTML>
<html>
<head><link href="stylefordiv.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="container">
<div id="header">
<h1 style="
  background:#999;
  border-radius: 500px;
  display: inline-block;
  perspective: 250px;
  transform: rotateY(50deg);
  position: relative;
    -webkit-animation: myfirst 3s 1; /* Chrome, Safari, Opera */
    -webkit-animation-direction: alternate; /* Chrome, Safari, Opera */
    animation: myfirst 2s 1;
    animation-direction: alternate;
  color:white;
  padding: 15px 15px 0 15px;
">THE CRONICLE OF CSE DEPARTMENT(PLACEMENTS) </h1>
</div>
<div id="content">
<div id="nav">
<ul type="square" style="
  background: powderblue;
  border-radius: 252px;
  color: red;
  padding: 200px 50px 253px;
  margin: 2.5%;
  width:70px;
  height:54px;
  float: center;
">
<li><a href="http://dietms.org/" style="color:yellow;" >About Us</a></li><br><br>
<li><a href="graphs.html" style="color:green;">Graphs Of Placements</a></li><br><br>
<li><a href="companies.html" style="color:orange;">Information About Companies</a></li><br>

</ul>
</div>
<div id="main"><img style="float:left;padding:1px;" src="C:\Users\VARAD\Desktop\MY IWP PROJECT\Layout\Company Logo\menu_image.jpg" height="200" width="200">
<img  style="float:left;padding:1px;position: relative;
    -webkit-animation: myfirst 2s 1; /* Chrome, Safari, Opera */
    -webkit-animation-direction: alternate; /* Chrome, Safari, Opera */
    animation: myfirst 3s 1;
    animation-direction: alternate;" src="C:\Users\VARAD\Desktop\MY IWP PROJECT\Layout\Company Logo\05947102-photo-capgemini-logo.jpg" height="200" width="200">
<img  style="float:left;padding:1px;position: relative;
    -webkit-animation: myfirst 4s 1; /* Chrome, Safari, Opera */
    -webkit-animation-direction: alternate; /* Chrome, Safari, Opera */
    animation: myfirst 6s 1;
    animation-direction: alternate;" src="C:\Users\VARAD\Desktop\MY IWP PROJECT\Layout\Company Logo\15a6005c8625e6443c79723182c444fa.jfif" height="200" width="200">
<img  style="float:left;padding:1px;position: relative;
    -webkit-animation: myfirst 3s 1; /* Chrome, Safari, Opera */
    -webkit-animation-direction: alternate; /* Chrome, Safari, Opera */
    animation: myfirst 7s 1;
    animation-direction: alternate;" src="C:\Users\VARAD\Desktop\MY IWP PROJECT\Layout\Company Logo\aaaaaaaaaaaa.jpg" height="200" width="200">
<img  style="float:left;padding:1px;position: relative;
    -webkit-animation: myfirst 2s 1; /* Chrome, Safari, Opera */
    -webkit-animation-direction: alternate; /* Chrome, Safari, Opera */
    animation: myfirst 7s 1;
    animation-direction: alternate;" src="C:\Users\VARAD\Desktop\MY IWP PROJECT\Layout\Company Logo\logo.jpg" height="200" width="200">
<img  style="float:left;padding:1px;position: relative;
    -webkit-animation: myfirst 8s 1; /* Chrome, Safari, Opera */
    -webkit-animation-direction: alternate; /* Chrome, Safari, Opera */
    animation: myfirst 3s 1;
    animation-direction: alternate;" src="C:\Users\VARAD\Desktop\MY IWP PROJECT\Layout\Company Logo\metro-logo.jpg" height="200" width="200">
<img  style="float:left;padding:1px;position: relative;
    -webkit-animation: myfirst 7s 1; /* Chrome, Safari, Opera */
    -webkit-animation-direction: alternate; /* Chrome, Safari, Opera */
    animation: myfirst 3s 1;
    animation-direction: alternate;" src="C:\Users\VARAD\Desktop\MY IWP PROJECT\Layout\Company Logo\profile_logo_.jpg" height="200" width="200">
<img  style="float:left;padding:1px;position: relative;
    -webkit-animation: myfirst 3s 1; /* Chrome, Safari, Opera */
    -webkit-animation-direction: alternate; /* Chrome, Safari, Opera */
    animation: myfirst 2s 1;
    animation-direction: alternate;" src="C:\Users\VARAD\Desktop\MY IWP PROJECT\Layout\Company Logo\Quick_heal_logo.png" height="200" width="200">
<img  style="float:left;padding:1px;position: relative;
    -webkit-animation: myfirst 5s 1; /* Chrome, Safari, Opera */
    -webkit-animation-direction: alternate; /* Chrome, Safari, Opera */
    animation: myfirst 5s 1;
    animation-direction: alternate;" src="C:\Users\VARAD\Desktop\MY IWP PROJECT\Layout\Company Logo\ValuD-logo.png" height="200" width="200">
<img  style="float:left;padding:1px;position: relative;
    -webkit-animation: myfirst 3s 1; /* Chrome, Safari, Opera */
    -webkit-animation-direction: alternate; /* Chrome, Safari, Opera */
    animation: myfirst 5s 1;
    animation-direction: alternate;" src="C:\Users\VARAD\Desktop\MY IWP PROJECT\Layout\Company Logo\xPointers_Logo_PSD.png" height="200" width="200">
<br><P><h1 style="color:rebeccapurple;">CHOOSE ANY ONE COMPANY TO SEE ITS PLACEMENTS</h1></p><p><h1 style="color:steelblue">OR</h1></p><p><h2 style="color:seagreen;">SEARCH FOR A CANDIDATE</h2></p>
</div>
</div>
<div id="footer">
  2016-Batch
<br>&copyright 2016<br>All Right Reserved
</div>
</div>
</body>
 </html>
