body{
background-color:black;
position: relative;
    -webkit-animation: myfirst 4s 1; /* Chrome, Safari, Opera */
    -webkit-animation-direction: alternate; /* Chrome, Safari, Opera */
    animation: myfirst 2s 1;
    animation-direction: alternate;
}
#form
{
  width: 1330px;
}

#container{

height:124%;

margin-left:auto;
margin-right:auto;
position: relative;
    -webkit-animation: myfirst 3s 1; /* Chrome, Safari, Opera */
    -webkit-animation-direction: alternate; /* Chrome, Safari, Opera */
    animation: myfirst 2s 1;
    animation-direction: alternate;
}

#header{
  perspective: 3000px;
   font-family: 'Source Sans Pro', sans-serif;
   appearance:button;
-webkit-appearance:button;
position: relative;
    -webkit-animation-name: myfirst;  /* Chrome, Safari, Opera */
    -webkit-animation-duration: 4s;  /* Chrome, Safari, Opera */
    animation-name: myfirst;
    animation-duration: 3s;
    -webkit-animation-iteration-count: 0;
float:center;
width: 100%;
border: 2px solid green;
text-align:center;
background-color:#900C3F;
}
#content{
text-align:center;
height:75%;
background-color:#581845;
border: 3px solid cyan;
padding: 10px;
position: relative;
    -webkit-animation: myfirst 4s 1; /* Chrome, Safari, Opera */
    -webkit-animation-direction: alternate; /* Chrome, Safari, Opera */
    animation: myfirst 5s 1;
    animation-direction: alternate;
}
#nav{
background-color:#952007;
border: 3px solid red;
width:190px;
height:544px;
position: relative;
    -webkit-animation: myfirst 3s 1; /* Chrome, Safari, Opera */
    -webkit-animation-direction: alternate; /* Chrome, Safari, Opera */
    animation: myfirst 5s 1;
    animation-direction: alternate;

float:left;
}
#main{
background-color:#581845;
width: 1020px;
height:544px;
border: 3px solid #FFC300;
float:right;
position: relative;
    -webkit-animation: myfirst 2s 1; /* Chrome, Safari, Opera */
    -webkit-animation-direction: alternate; /* Chrome, Safari, Opera */
    animation: myfirst 3s 1;
    animation-direction: alternate;
}
#footer{
  width:1330px;
border:1px solid blue;
color:#ffd88e;
clear:both;
background-color:grey;
text-align:right;
position: relative;
    -webkit-animation: myfirst 7s 1; /* Chrome, Safari, Opera */
    -webkit-animation-direction: alternate; /* Chrome, Safari, Opera */
    animation: myfirst 4s 1;
    animation-direction: alternate;
}
