<!DOCTYPE HTML>
<html>
<head><link href="stylefordiv.css" rel="stylesheet" type="text/css">
</head>
<body>

<div id="container">

<div id="header">

<h1 style="




  perspective: 250px;

  position: relative;
    -webkit-animation: myfirst 5s 1; /* Chrome, Safari, Opera */
    -webkit-animation-direction: alternate; /* Chrome, Safari, Opera */
    animation: myfirst 5s 1;
    animation-direction: alternate;
  color:#ffd88e;
  padding: 15px 15px 0 15px;
">THE ART OF LIVING "HEALTH AND FITNESS" </h1>
<p>
<ul id="menu">
    <li id="items"><h3><a href="index.html">HOME</a></h3></li>
<li id="items"><h3><a href="history.html">HISTORY</a></h3></li>
<li id="items"><h3><a href="events.html">EVENTS</a></h3></li>
<li id="items"><h3><a href="contactus.html">CONTACT US</a></h3></li>
</ul>
</p>
</div>
<div id="content">

<div id="main"><img style="float:left;padding:1px;" src="" height="300" width="300">
<img  style="float:left;padding:1px;position: relative;
    -webkit-animation: myfirst 2s 1; /* Chrome, Safari, Opera */
    -webkit-animation-direction: alternate; /* Chrome, Safari, Opera */
    animation: myfirst 3s 1;
    animation-direction: alternate;" src="" height="300" width="300">
<img  style="float:left;padding:1px;position: relative;
    -webkit-animation: myfirst 4s 1; /* Chrome, Safari, Opera */
    -webkit-animation-direction: alternate; /* Chrome, Safari, Opera */
    animation: myfirst 6s 1;
    animation-direction: alternate;" src="" height="300" width="300">
<img  style="float:left;padding:1px;position: relative;
    -webkit-animation: myfirst 3s 1; /* Chrome, Safari, Opera */
    -webkit-animation-direction: alternate; /* Chrome, Safari, Opera */
    animation: myfirst 7s 1;
    animation-direction: alternate;" src="" height="300" width="300">
<img  style="float:left;padding:1px;position: relative;
    -webkit-animation: myfirst 2s 1; /* Chrome, Safari, Opera */
    -webkit-animation-direction: alternate; /* Chrome, Safari, Opera */
    animation: myfirst 7s 1;
    animation-direction: alternate;" src="" height="300" width="300">
<img  style="float:left;padding:1px;position: relative;
    -webkit-animation: myfirst 8s 1; /* Chrome, Safari, Opera */
    -webkit-animation-direction: alternate; /* Chrome, Safari, Opera */
    animation: myfirst 3s 1;
    animation-direction: alternate;" src="" height="300" width="300">
    <img  style="float:left;padding:1px;position: relative;
        -webkit-animation: myfirst 8s 1; /* Chrome, Safari, Opera */
        -webkit-animation-direction: alternate; /* Chrome, Safari, Opera */
        animation: myfirst 3s 1;
        animation-direction: alternate;" src="C:\Users\VARAD\Desktop\suyog website\roman-reigns-hd-wallpaper-2016-zxcasq.jpg" height="300" width="300">

</div>
</div>
<div id="footer">

<br>&copyright 2016<br>All Right Reserved
</div>
</div>
</body>
 </html>
